.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.img-fluid{
    width: 100%;
    height: 100%;
    float:left;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
.page{
    background-image: url('./images/pageBackground.jpg');
    width: 1100px;
    height: 740px;
    margin: auto;
    margin-top: 55px;
    object-fit: fill;
    border-radius: 15px;
    margin-bottom: -58px
}
.Bio-page{
    background-image: url('./images/bioImage.jpg');
    width: 1000;
    height: 850px;
    background-size: fill;
    background-repeat: no-repeat;
    margin-top: -62px;
     
}
.Title{
  margin-top: -20px;
  font-family: 'Rajdhani', sans-serif;

}
.myName{
  padding-left: 100px;
}
.jumbotron{
    background-color: white;
    border-radius: 0px;
    height:55px;
    padding-top: 40px

}
.margin-top{
  margin-top: 50px;
  margin-bottom: 0px 
}
.container{
    width: auto;
    height: auto;
    margin: auto;
}
#profileImg{
    height: 300px;
    width: auto;
    opacity: 1.0;
    margin-top: 50px
}
#navbar{
    background-color: yellow;
    width: 45%;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 200px;
    font-family: 'Rajdhani', sans-serif;
    z-index: 1 !important;
}
#page{
    color: black;
}
#page:hover {
    color: red;
}
#page:active {
    color: red;
}
#project1{
    width: 400px;
    height: 250px;

}
.push-right{
  margin-left: 35%;
}
.row{
  margin: auto;
}
#bio{
  margin-top: 150px; 
  padding: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  overflow: scroll;
  height: 650px;
  border: 10px solid black;
  text-align: left
}
#profileImg{
  padding: 10px;
  background-color: #0aa245;
  height: auto;
  max-height: 400px;
  width: auto;
  border-radius: 5px;
  margin-top: 50%;
  margin-left: 50px;
}
#sideImg1{
  width: auto;
  height: 100%;
  max-height: 100px;
  margin-left: 45px;
  padding: 5px;
  background-color: #ef4123;
   border-radius: 5px;
  margin-top: 10px
}
#sideImg2{
  width: auto;
  height: 100%;
  max-height: 100px;
  margin-left: 45px;
  padding: 5px;
  background-color: #00addc;
   border-radius: 5px;
  margin-top: 10px
}
#sideImg3{
  width: auto;
  height: 100%;
  max-height: 100px;
  margin-left: 45px;
  padding: 5px;
  background-color: #fff200;
  border-radius: 5px;
  margin-top: 10px
}
.MyWorkCorousel{
  width: auto;
  height: 100%;
  max-height: 350px;
  margin-top: 100px
}
#theCloset{
  background-color: white;
  padding: 10px;
  margin-top: 40px;
  padding-top: 20px;
  border-top: #fff200 10px solid;
  border-bottom: #fff200 10px solid;
  border-radius: 20px;
  padding-left: 10px;
}